<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">BaseAsset</th>
    <th scope="col">QuoteAsset</th>
    <th scope="col">LastPrice</th>
    <th scope="col">Volumn24h</th>
    <th scope="col">Market</th>
    <th scope="col">Created At</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let coin of httpData">
    <th scope="row">{{ coin.coinId }}</th>
    <td>{{ coin.name }}</td>
    <td>{{ coin.baseAsset }}</td>
    <td>{{ coin.quoteAsset }}</td>
    <td>{{ coin.lastPrice }}</td>
    <td>{{ coin.volumn24h }}</td>
    <td>{{ coin.marketName }}</td>
    <td>{{ coin.createdAt | date: 'h:mm a dd/MM/yyyy'}}</td>
    <td>
      <span class="badge badge-success" *ngIf="coin.status == 0">Active</span>
      <span class="badge badge-danger" *ngIf="coin.status == 1">Deactive</span>
    </td>
  </tr>
  </tbody>
</table>
