
<ul class="nav nav-tabs mb-3">

  <li class="nav-item">
    <a class="nav-link active" *ngIf="this.router.url == '/market'" routerLink="market">Market List</a>
    <a class="nav-link " *ngIf="this.router.url != '/market'" routerLink="market">Market List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" *ngIf="this.router.url == '/coin'" routerLink="coin">Coin List</a>
    <a class="nav-link " *ngIf="this.router.url != '/coin'" routerLink="coin">Coin List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" *ngIf="this.router.url == '/user'" routerLink="user">Use page</a>
    <a class="nav-link " *ngIf="this.router.url != '/user'" routerLink="user">Use page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
