<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Crated At</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let market of httpData">
    <th scope="row">{{ market.marketId }}</th>
    <td>{{ market.name }}</td>
    <td>{{ market.description }}</td>
    <td>{{ market.createdAt | date: 'h:mm a dd/MM/yyyy'}}</td>
    <td>
      <span class="badge badge-success" *ngIf="market.status == 1">Active</span>
      <span class="badge badge-danger" *ngIf="market.status == 0">Deactive</span>
    </td>
  </tr>
  </tbody>
</table>
